---

name: status

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:


jobs:
  status:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0

      - uses: actions/setup-python@v6.2.0
        with:
          python-version-file: pyproject.toml
          cache: pip

      - name: install
        run: pip install --user .

      - name: check status of OAI-PMH service
        run: oai-status

      - name: retrieve all records in OAI set
        run: oai-list-records illustrierte.liedflugschriften

...
